* {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 32px;
}

h5 {
  font-size: 23px;
}

h1,
h3,
h5 {
  font-weight: bold;
}

a {
  display: block;
  font-size: 18px;
}

p {
  font-size: 14px;
}

.background {
  background-image: url("./the-flatiron-building.png");
  background-size: cover;
}

.footer {
  text-align: left;
  background-color: grey;
}

a,
.white {
  color: white;
}

.footer p {
  font-size: 11px;
}

.footer p,
.footer a {
  display: inline-block;
}
