* {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

a {
  display: block;
  font-size: 18px;
  color: white;
}

.header {
  background-image: url("./the-flatiron-building.png");
  background-size: cover;
  color: white;
}
